.DS_Store
node_modules
/dist
*.pdf
*.log
*.ipynb
*.pyc
*.xlsx
*.csv
*.tfidf
*.xls
*.pkl
/jupyter
/backend/data


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
